@charset "ISO-8859-1";
 body{
  background: #763AB7;
  font-family: sans-serif;
  } 
  form
  {
  width: 500px;
  margin: 8% auto;
  padding: 50px 0;
  text-align: center;
  box-shadow: 0 20px 40px rgb(0,0,0);
  }
  .mb-3{
  margin:30px auto;
  width:80%;
  position :relative;
  box-shadow: 0 8px 10px -10px rgb(0,0,0);
  }
  
  .mb-3 input{
  width: 100%;
  height: 40px;
  border: none;
  background:#efefef ;
  padding-left: 50px;
  }
  span{
  position: absolute;
  left: 0;
  right: 0;
  height: 40px;
  width: 40px;
  background: linear-gradient(to right , #4CAF50 , #00BCD4);
  }
  
  span .fa{
    padding: 10px;
    color: #fff;
  }
  button{
  width: 130 px;
  height: 40px;
  margin-left: 10%;
  display: block;
  color:#fff;
  border: 0;
  font-size: 16px;
  outline: none;
  background :linear-gradient(to right , #4CAF50 , #00BCD4);
  box-shadow: 0 8px 10px -10px rgb(0,0,0);
  cursor: pointer;
  }
  
  button .fa{
  margin-right: 10px;
  }
 
  